body {
    background-image: url('https://images.pexels.com/photos/1846422/pexels-photo-1846422.jpeg?cs=srgb&dl=pexels-sheep-1846422.jpg&fm=jpg');
  }

body {
    background-image: url('https://images.pexels.com/photos/1846422/pexels-photo-1846422.jpeg?cs=srgb&dl=pexels-sheep-1846422.jpg&fm=jpg');
    background-size: cover;
    max-width: 100%;
    }

    body {
        width: 100vw;
        height: 100vh;
        background: url('https://images.pexels.com/photos/1846422/pexels-photo-1846422.jpeg?cs=srgb&dl=pexels-sheep-1846422.jpg&fm=jpg');
        background-size: cover;
      }

      body h1{
        font-family: fantasy;
        font-size: 200%;
        text-align: center;
      }

      body h2{
        font-family: fantasy;
        font-size: 100%;
        text-align: center;
      }

      body h3{
        font-family: fantasy;
        font-size: 80%;
        text-align: center;
      }